JFusion-phpVMS-plugin.bbprojectd/project.bbprojectdata
JFusion-phpVMS-plugin.bbprojectd/Wade.bbprojectsettings
JFusion-phpVMS-plugin.bbprojectd/Unix Worksheet.worksheet
JFusion-phpVMS-plugin.bbprojectd/Scratchpad.txt